div.divbutton {
    user-select: none;
    background: linear-gradient(white, lightgray);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 1px 6px 1px 6px;
    display: inline-block;
    font: 13.3333px Arial;
    cursor: pointer;
}

.divbutton:active {
    background: linear-gradient(lightgray, white);
}

#buyColASAPToggleLabel {
    visibility: hidden;
}

#buyColonyBuyer {
    visibility: hidden;
}

#getQueen {
    visibility: hidden;
}

#startCol {
    visibility: hidden;
}

#antCount {
    visibility: hidden;
}

#moneyCount {
    visibility: hidden;
}

#buyStealingMoney {
    visibility: hidden;
}

#stealMoneyButton {
    visibility: hidden;
}

#queenAntCount {
    visibility: hidden;
}

#colonyCount {
    visibility: hidden;
}

#buyMultLabel {
    visibility: hidden;
}